################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/labs/v16
/ConsoleApplication1/Debug/ConsoleA.1f26fee9.tlog
/ConsoleApplication1/Debug
